[Desktop Entry]
Type=Application
Version=5.5.1
Exec=kernel-notify
Hidden=false
NoDisplay=false
Icon=/usr/share/kernel-notify/icon.png
X-GNOME-Autostart-enabled=true
Name=Kernel Updater
Comment=Notifies the user of kernel updates
Keywords=kernel; system; update; updater
