[Desktop Entry]
Type=Application
Name=Kernel Updater
Exec=kernel-notify
Version=5.5.1
Icon=/usr/share/kernel-notify/icon.png
Comment=Notifies the user of kernel updates
Keywords=kernel-notify; notify; kernel; system; update; updater
Categories=Utility;
X-GNOME-Autostart-enabled=true
StartupNotify=false
NoDisplay=false
Hidden=false
