[Desktop Entry]
Type=Application
Version=5.5
Exec=kernel-notify
Hidden=false
NoDisplay=false
Icon=/usr/share/kernel-notify/icon.png
X-GNOME-Autostart-enabled=true
Name[en_GB]=Kernel Update Notifier
Name=Kernel Update Notifier
Comment[en_GB]=Notifies the user if their kernel is no longer the latest
Comment=Notifies the user if their kernel is no longer the latest
