[Desktop Entry]
Type=Application
Version=4.2
Exec=kernel-notify
Hidden=false
NoDisplay=false
Icon=/usr/share/kernel-notify/icon.png
X-GNOME-Autostart-enabled=true
Name[en_GB]=Kernel Update Notifier
Name=Notifies the user if their kernel is no longer the latest
Comment[en_GB]=
Comment=
