Source: kernel-notify
Section: utility
Priority: optional
Maintainer: Dragon8oy <stuart.a.hayhurst@gmail.com>
Version: 6.1.4
Vcs-Git: https://github.com/Dragon8oy/kernel-notify.git
Vcs-browser: https://github.com/Dragon8oy/kernel-notify.git
Homepage: <https://github.com/Dragon8oy/kernel-notify>
Package: kernel-notify
Architecture: all
Depends: coreutils (>= 8.25), curl, diffutils, file, git, grep, less, policykit-1, psmisc, sed
Recommends: libnotify4, sudo, zenity
Description: Kernel notifier, updater and remover
 A program to notify users if their kernel is outdated, and help maintain installed kernels, or install new ones
