Source: kernel-notify
Section: utility
Priority: optional
Maintainer: Dragon8oy <stuart.a.hayhurst@gmail.com>
Package: kernel-notify
Version: 5.3
Architecture: all
Depends: curl, gawk, sed, ncurses-bin, psmisc, policykit-1
Recommends: libnotify-bin, libnotify4
Homepage: <https://github.com/Dragon8oy/kernel-notify>
Description: Kernel updater, checker and remover
 A small package to check the latest kernel version and notify user of an update, supports installing and removing kernels
