Source: kernel-notify
Section: utility
Priority: optional
Maintainer: Dragon8oy <stuart.a.hayhurst@gmail.com>
Package: kernel-notify
Version: 4.3
Architecture: all
Depends: git, wget
Recommends: libnotify-bin, libnotify4
Homepage: <https://github.com/Dragon8oy/kernel-notify>
Description: Kernel update checker
 A small package / project to check the latest kernel version and notify all users of an update
